################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WTC_CMS_BE/WTC_CMS_BE/obj
/WTC_CMS_BE/WTC_CMS_BE/WTC_CMS_BE.csproj.user
/WTC_CMS_BE/WTC_CMS_BE/WTC_CMS_BE.http
/WTC_CMS_BE/.vs/WTC_CMS_BE
/.vs
/WTC_CMS_BE/WTC_CMS_BE/bin/Debug/net8.0
/WTC_CMS_BE/WTC_CMS_BE/bin
/WTC_CMS_BE/WTC_CMS_BE/appsettings.Development.json
